body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #55e955; 
    margin: 0;
  }
  
  .main-content {
    margin-top: 100px; /* To avoid the fixed navbar overlap */
    flex: 1;
  }
  
  .left-sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    height: 100vh;
  }
  
  .right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
    padding: 20px;
  }
  
  footer {
    padding: 10px;
    position: relative;
    bottom: 0;
    text-align: center; /* Centra el texto */
    color: rgb(0, 0, 0); /* Texto blanco */
    width: 100%;
    background-color: #55e955 !important; /* Verde lima */
    margin: 0;
  }
  
